h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}

hr{
    width:80%;
    margin:0 auto;
    border: 0;
    height: 4px;
    background: #333;
    background-image: linear-gradient(to right,#a8edea 0%, #fed6e3 100%);
}

body{
    background-color: aliceblue;
}

.textbox{
    width: 400px;
    height: 400px;
}

.thebody{
    text-align: center;
}

.info{
    width: 200px;
}

.shouye{
    width: 80px;
    height: 25px;
    text-align: center;
}