body{
    /*这里是注释内容*/
    background-color: bisque;
    background-size: cover;
    background-image: url("https://ts1.cn.mm.bing.net/th/id/R-C.27b728e41f6de3a59199f0142876babf?rik=ZM1SghCwhcqU1A&riu=http%3a%2f%2fuploadfile.bizhizu.cn%2f2014%2f0625%2f20140625025431409.jpg&ehk=1ABKvJRE5isVz5mhDi4HNxGXc6L%2bW67ctdrvvzWVIEQ%3d&risl=&pid=ImgRaw&r=0");
  }